@media (max-width: 600px) {

    body {
        padding: 10px;
        justify-content: center;
    }

    h1 {
        margin-top: 20px;
        font-size: 20px;
    }

    .container {
        flex-direction: column; 
        width: 200px;
         justify-content: center;
    }

    .form-area,
    .list-area {
        
       align-content: center; 
       border-radius: 10px;
      width: 45%;   
       
    }

    input, select, button {
        font-size: 14px;
        padding: 10px;
    }

    table {
        font-size: 6px;
    }
}

body {
    font-family: system-ui, 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif,Arial, sans-serif;
    margin: 0;
    padding: 20px;
    justify-content: center; 
    background-image: url("fundo msc.jpg");
     background-position: center;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center; 
  
}

.form-area, .list-area {
    background-color: rgb(193, 225, 193);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    border: 5px solid black;
    
}

form, label ,table {
    display: block;
    margin-top: 10px;
    justify-content: center; 
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    cursor: pointer;
}

ul li {
    background: #e8e8e8;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
