@media (max-width: 600px) {
    body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-top: 10px;
        font-size: 24px; 
        text-align: center;
    }

    h2 {
        font-size: 16px; 
        text-align: center;
        color: #666;
    }

    .container {
        display: flex;
        flex-direction: column; 
        width: 600px; 
        align-items: center;
        gap: 20px; 
    }

    .form-area,
    .list-area {
        width: 100%;
        padding: 20px;
        box-sizing: border-box; 
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: stretch; 
        box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
    }

    input, select, button {
        font-size: 16px; 
        padding: 12px;
        margin-bottom: 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
        width: 100%; 
    }

    
    table {
        font-size: 12px;
        width: 100%;
        border-collapse: collapse;
    }

    th {
        padding: 4px;
    }
    td{
        align-items: center;
    }
}
body {
    font-family: system-ui, 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif,Arial, sans-serif;
    margin: 0;
    padding: 20px;
    justify-content: center; 
    background-image: url("fundo msc.jpg");
     background-position: center;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center; 
  
}

.form-area, .list-area {
    background-color: rgb(193, 225, 193);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    border: 5px solid black;
    
}

form, label ,table {
    display: block;
    margin-top: 10px;
    justify-content: center; 
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    cursor: pointer;
}

ul li {
    background: #e8e8e8;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
