@media (max-width: 768px) {

    .container {
        flex-direction: column; 
        gap: 20px;
    }

    .form-area,
    .list-area {
        width: 100%; 
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }
    th {
        font-size: 8px;
    }
    input, button {
        font-size: 16px;
    }
} 

body {
    font-family: Arial, sans-serif;
    background: rgb(207, 249, 255);
    margin: 0;
    padding: 20px;
    justify-content: center; 
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center; 
  
}

.form-area, .list-area {
    background: rgb(0, 200, 255);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    border: 5px solid black;
    
}

form label {
    display: block;
    margin-top: 10px;
    justify-content: center; 
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    cursor: pointer;
}

ul li {
    background: #e8e8e8;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
